{% load i18n %}
{% load marc_extras %}
 <h2 class="discovery-home">{{ live_bot }}</h2>
 <form action="/marc/process" method="POST" enctype="multipart/form-data">
 {% csrf_token %}
 <table>
  <tr>
   <th>{{ marc_form.original_file.label }}</th>
   <td>{{ marc_form.original_file }}</td>
  </tr>
  <tr>
   <th>{{ marc_form.load_table.label }}</th>
   <td>{{ marc_form.load_table }}</td>
  </tr>
  <tr>
   <th>{{ marc_form.record_type.label }}</th>
   <td>{{ marc_form.record_type }}</td>
  </tr>
 {% if marc_form.databases %}
  <tr> 
   <th>{{ marc_form.databases.label }}</th>
   <td>{{ marc_form.databases}}</td>
  </tr>
 {% endif %}
  <tr>
   <th>{{ note_form.note_value.label }}</th>
   <td>{{ note_form.note_value }}</td>
  </tr>
 <tr>
 <td colspan="2" align="center">
 <input type="hidden" name="bot" value="{{ live_bot }}" />
 <input type="submit" value="Process {{ live_bot }} Records" />
 </table>
 </form>
