{% load i18n %}
{% load marc_extras %}
 <h2 class="discovery-home"></h2>
 <a href="{% url marc-download %}">Download modified MARC file</a>
 <form action="/marc/update" method="POST">
 {% csrf_token %}
 <table>
  <tr>
   <th>{{ marc_form.new_records.label }}</th>
   <td>{{ marc_form.new_records }}</td>
  </tr>
  <tr>
   <th>{{ marc_form.overlaid_records.label }}</th>
   <td>{{ marc_form.overlaid_records }}</td>
  </tr>
  <tr>
   <th>{{ marc_form.rejected_records.label }}</th>
   <td>{{ marc_form.rejected_records }}</td>
  </tr>
  <tr>
   <th>ILS Results</th>
   <td>{{ note_form.note_value }}</td>
  </tr>
 <tr>
 <td colspan="2" align="center">
 <input type="submit" value="Update Record" />
 </table>
 </form>
