{% extends 'cc-search-base.html' %}
{% load i18n %}
{% load marc_extras %}

{% block search-title %}Tutt Library MARC Record Utilities • Colorado College{% endblock %}

{% block more-css %}
 <link href="{{ STATIC_URL }}/pagination.css" rel="stylesheet" />
 <link href="{{ STATIC_URL }}/grx.css" rel="stylesheet" /> 
{% endblock %}

{% block search-panel %}
 {% include 'grx-search-panel.html' %}
{% endblock %}

{% block search-facets %}
<div class="side">
 <aside class="search-facets">
  <h5>{% trans "Active Workflows" %}</h5>
  <ul>
  {% for bot in active_bots %}
  <li><a href="{{ bot|get_bot_name }}">{{ bot|get_bot_name }}</a></li>
  {% endfor %}
  </ul>
  <h5>{% trans "Recent History" %}</h5>
  <ul>
  {% for log in history %}
  <li><a href="detail/{{ log.date }}">{{ log.date }}</a></li>
  {% endfor %}
  </ul>
 </aside>
</div>
{% endblock %}

{% block results-detail %}
{% endblock %}

{% block results-list %}
<div class="main">
<div class="results-list discovery-service">
<h1>{% trans "Tutt Library's MARC Record Utilities" %}</h1>
<div class="discovery-home">
 <h2 class="discovery-home">{% trans "Active Workflows" %}</h2>
 </p>
 <span class="clear"></span>
</div>
</div>
</div>
<span class="clear"></span>
{% endblock %}

{% block more-scripts %}
{% endblock more-scripts %}
