{% extends 'cc-search-base.html' %}
{% load i18n %}
{% load marc_extras %}

{% block search-title %}Tutt Library MARC Record Utilities • Colorado College{% endblock %}

{% block more-css %}
{% endblock %}

{% block search-panel %}
 {% include 'marc-search-panel.html' %}
{% endblock %}

{% block search-facets %}
<div class="side">
 <aside class="search-facets">
  <h5>{% trans "Active Workflows" %}</h5>
  <ul>
  {% for bot in active_bots %}
  <li><a href="{{ bot|get_bot_name }}">{{ bot|get_bot_name }}</a></li>
  {% endfor %}
  </ul>
  <h5>{% trans "Recent History" %}</h5>
  <ul>
  {% for log in history %}
  <li><a href="detail/{{ log.created_on }}">{{ log.created_on }} {{ log.process_id }} </a></li>
  {% endfor %}
  </ul>
 </aside>
</div>
{% endblock %}

{% block results-detail %}
{% endblock %}

{% block results-list %}
<div class="main">
<div class="results-list discovery-service">
<h1>{% trans "Tutt Library's MARC Record Utilities" %}</h1>
<div class="discovery-home">
 {% if live_bot %}
  {% include 'add-log-form.html' %}
 {% endif %}
 {% if download %}
  {% include 'download-update-form.html' %}
 {% endif %}
 {% if not live_bot and not download %}
 <p>Please select a bot from the list of active workflows on the left.</p>
 {% endif %}
 </p>
 <span class="clear"></span>
</div>
</div>
</div>
<span class="clear"></span>
{% endblock %}

{% block more-scripts %}
{% endblock more-scripts %}
