{% extends 'cc-search-base.html' %}

{% block more-css %}
{% endblock %}

{% block search-panel %}<div style="height:150px">&nbsp;</div>
{% endblock %}

{% block search-facets %}
<div class="side">
 <aside class="search-facets">
  <h5>Active Workflows</h5>
  <ul>
  {% for bot in workflows %}
   <li><a href="#" onclick="LoadBot('{{ bot.name }}')">{{ bot.name }}</a>
  {% endfor %}
  </div>
 </aside>
</div>
{% endblock %}

{% block results-detail %}
{% endblock %}

{% block results-list %}
<div class="main">
<div class="results-list discovery-service">
<h1>Welcome to Tutt Library Cataloging MARC Utilities</h1>
<div class="discovery-home">
 <h2 class="discovery-home">No Workflow loaded</h2>
 <p></p>
 <span class="clear"></span>
</div>
</div>
</div>
<span class="clear"></span>
{% endblock %}

{% block more-scripts %}
<script src="{{ STATIC_URL }}js/jquery.pagination.js"></script>
<script>
</script>
{% endblock more-scripts %}
