article.discovery-home {
 font-size: 1em;
 float: left;
 position: relative;
}

aside.discovery-home {
 background-color: rgb(127,127,127);
 float: left;
 margin-right: 15px;
 padding: 5px;
 position: relative;
 width: 30%;
}

aside.discovery-home p {
 color: #FDDB55 !important;
}



#contact-lib-detail {
  border: 1px solid #e7e4e0;
  background-color: #530921;
  margin-top: 15px;
  padding: 10px 15px;
}



div.discovery-service {
  background-color: #FFFFFF;
  padding-left: 2em;
  height: 60%;
 }

div.ils-status {
  border: 1px solid black;
  font-size: 1.1em;
  padding: 5px;
}
 

dl.detail-display {
  margin: 0 1em 1em 0;
}

dl.detail-display dt {
  color: rgb(127,127,127); 
  float: left;
  min-width: 9.5em;
  text-align: right;
}

dl.detail-display dd {
 margin-left: 10em;
}

h1.discovery-home {
 color: #530921 !important;
 font-size: 1.1em !important;
 
}



#item-info {
 border: 1px solid #530921;
 font-size: .8em;
 margin-top: 15px;
}

#item-info h2 {
 background-color: #530921;
 color: rgb(255,255,255) !important;
 font-size: 1.9em;
 margin: 0px;
 text-align: center;
}

#item-info p {
 padding-left: 3px;
}

#adv-searchbox {
 display: none;
}

#search-history {
 border: 1px solid #960;
 display: none;
}


#search-options {
 background: #FAFAF8 url('http://www.coloradocollege.edu/global/images/templates/bg/header.jpg');
 -webkit-box-shadow: 0 0 16px #444;
 -moz-box-shadow: 0 0 16px #444;
 -ms-box-shadow: 0 0 16px #444;
 -o-box-shadow: 0 0 16px #444;
}

#search-options h2 {
 color: #960 !important;
 font-family: NeoFill !important;
 font-size: 1.3em !important;
 margin-top: 5px;
 text-align: center;
}

#search-options ul {
 list-style-type: greek !important;
 margin-bottom: 2px;
 padding-bottom: 2px;
}

span.due-back {
  color: red;
  font-weight: bold;
}

span.available {
  color: green;
  font-weight: bold;
}

table.closed {
  display: none;
}

table.open {
  display: block;
}

quote {
 background-color: #F1ECE5;
 border: 1px solid black;
 display: block;
 font-size: .9em;
 padding: 3px;
}
