a.grx-facet-letter {
  font-weight: bold;
  text-decoration: none;}

p.grx {
  font-size: 1em !important; }

table.grx {
  border-top: 1px solid #4C3D38;
  width: 90%;
}

ul.grx {
  font-size: .6em !important; }
