{% extends "cc-alt-base-twocol.html" %}
{% load i18n %}
{% load discovery_extras %}

{% block head-title %}Details for {{ doc.title }} at Tutt Library{% endblock %}
{% block more-css %}
 <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" /> 
 <link href="{{ STATIC_URL }}discovery/css/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
 <link href="{{ STATIC_URL }}discovery/css/discovery.css" rel="stylesheet" />
 <style>
  div.browse-shelf {
   background-color:  #F1ECE8;
   color: black;
   font-size: .9em;
   margin-top: 1.5em;
  }

  div.browse-shelf h2 {
   color: black;
   font-size: 1.3em;
   padding: .5em .2em 0em .5em;
  }

  div.browse-shelf p {
   padding-left: 1.8em;
  }

  div.browse-shelf table {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: .5em; 
    width: 90%;
  }
   
  div.browse-shelf tr, td, th {
    background-color: #FFFFFF;
    border-bottom: 1px dotted #CCCCCC;
  }
 
  td.browse-shelf-nav {
    text-align: center;
    color: blue;
  } 

  div.item-about {
    background-color: #F1ECE6;
    border: 1px solid #CCCCCC;
    padding: 1em;
  }

  div.item-about h1 {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
  } 

  div.item-about h2 {
    color: #2A466D;
    font-size: 1.857em;
    border-bottom: 1px solid #BBBBBB;
  }

  div.item-about p {
    color: #666666;
    font-family: Arial,sans-serif;
    font-size: 1.1em;
  }

  div.item-actions-wrapper {
    border: 4px solid #FFFFFF;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  }

  div.item-actions {
    background-color: #F1ECE5;
    border: 1px solid #E7E4E0;
    padding: 14px 20px;
    font-family: "Helvetica Neue",Arial,sans-serif;
  }

  div.item-actions h1 {
    color: #2A466D;
    font-size: 1.857em;
    font-weight: normal;
    border-bottom: 1px solid #BBBBBB;
  }

  div.item-actions ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }

  div.item-actions a {
    color: #001E33;
    font-size: 1.071em;
    font-weight: bold;
    text-decoration: none;
  }
 </style>
{% endblock %}

{% block library-breadcrumb %}
 <div id="breadcrumb">
  <div class="stage"><a href="http://www.coloradocollege.edu/library">Library Home</a> &raquo; <a href="/">Catalog</a> &raquo; <a href="#" class="on"> {{ doc.full_title|truncatewords:10 }}</a></div>
 </div>
{% endblock %}

{% block content %}
 <div class="container_12">
 <div class="clear" style="height:15px">&nbsp;</div>
 <div class="grid_8" >
   {% include 'item_title.html' %}
   {% include 'item_detail.html' %}
 </div>
 <div class="grid_4">
 {% comment %}START item-actions-wrapper DIV {% endcomment %}
  <div class="item-actions-wrapper">
   {% comment %}START item-actions DIV {% endcomment %}
   <div class="item-actions" >
     <h1>You can...</h1>
      <ul>
       {{ doc|display_online }}
       <li><a href="#citation-dlg" id="cite_fancybox">Cite</a> this work with a MLA, Chicago, APA, or other citation styles with <a href='{{ doc.id|get_refworks_url:host_name }}' target="RefWorksMain">RefWorks</a>.</span>
        </li>
        {{ doc|display_ill }}
        <li><a href="javascript:AddCartItem(this,'{{ doc.id }}')">Add</a> this work to your saved resources 
        <a href="a#cart_dialog" id="cart_display">folder <img src="{{ STATIC_URL }}img/silk/icons/folder_go.png" alt="Your saved items" /></a></li>
        <li><a href="https://tiger.coloradocollege.edu/patroninfo">Login</a> to your library account with your
          TIGER number</li>
        </ul>
   {% comment %}END item-actions DIV {% endcomment %}
   </div>
  {% comment %}DIV item-actions-wrapper DIV {% endcomment %}
  </div>
  <div class="browse-shelf-wrapper">
    {% if doc.callnum %}
    <br/>
    <iframe height="300px" src="/apps/call_number/widget?standalone=True&call_number={{ doc.callnum }}"></iframe>
    {% endif %}
      {% comment %} {% include 'browse_shelf.html' %}{% endcomment %}
      {% comment %}END browse-shelf DIV{% endcomment %}
  </div>
  <aside class="aside">
   <div id="contact-lib-detail">
      {% include 'contact-library.html' %}
  </div>
  </aside>
 </div>
</div>
<div class="clear"></div>
</div>
{% endblock %}



{% block more-scripts %}
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/jquery.ui.core.js"></script>
<script src="{{ STATIC_URL }}js/jquery.ui.widget.js"></script> 
<script src="{{ STATIC_URL }}js/jquery.ui.dialog.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
<script src="{{ STATIC_URL }}discovery/js/discovery.js"></script>
<script>
 $(function() {
   $("a#search_display").fancybox({
     title:"Search History"
    });
   $("a#cite_fancybox").fancybox();
   $("a#marc_fancybox").fancybox();
   $("a#cart_display").fancybox({
      onStart: ShowCart("{{ session_id }}"),
   });

 });
</script>
{% endblock %}

{% block dialogs %}
<div style="display:none">
<div id="citation-dlg">
<h2>Citations</h2>
<ul>
 {% include 'apa_citation.html' %}
 {% include 'chicago_citation.html' %}
 {% include 'mla_citation.html' %}
</ul>
</div>
</div>

<div style="display:none">
<div id="marc-display">
<h2>MARC Record Display</h2>
{% include 'marc_display.html' %}
</div>
</div>

<div style="display:none">
{% include 'search_history_dialog.html' %}
</div>

<div style="display:none">
{% include 'cart_dialog.html' %}
</div>
{% endblock %}
