{% extends 'cc-library-inside-base.html' %}
{% load i18n %}
{% load discovery_extras %}

{% block head-title %}Details for {{ doc.title }} at Tutt Library{% endblock %}
{% block more-css %}
 <link href="{{ STATIC_URL }}discovery/css/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
 <link href="{{ STATIC_URL }}discovery/css/discovery.css" rel="stylesheet" />
{% endblock %}

{% block library-breadcrumb %}
 <div id="breadcrumb">
  <div class="stage"><a href="http://www.coloradocollege.edu/library">Library Home</a> &raquo; <a href="/">Catalog</a> &raquo; <a href="#" class="on"> {{ doc.full_title|truncatewords:10 }}</a></div>
 </div>
{% endblock %}

{% block subnavigation %}
 <h1><strong><a href="#">You can...</a></strong></h1>
 <ul>
  {{ doc|display_online }}
  <li><a href="#citation-dlg" id="cite_fancybox">Cite</a> this work with a MLA, Chicago, APA, or other citation styles with <a href="{{ ''|get_refworks_url }}">RefWorks</a>.</span>
  </li>
  {{ doc|display_ill }}
  <li><a href="javascript:AddCartItem(this,'{{ doc.id }}')">Add</a> this work to your saved resources 
      <a href="javascript:ShowCart()" id="cart_display">folder <img src="{{ STATIC_URL }}pinax/img/silk/icons/folder_go.png" alt="Your saved items" /></a></li>
  <li><a href="https://tiger.coloradocollege.edu/patroninfo">Login</a> to your library account with your
   TIGER number</li>
 </ul>
{% endblock %}

{% block left-aside-two %}
<aside class="aside">
<div id="contact-lib-detail">
 {% include 'contact-library.html' %}
</div>
</aside>

{% endblock %}

{% block main-column %}
 <h1>{{ doc.full_title }}</h1>
 <div class="ils-status">Library Location {% for location in doc.location %}<strong>{{ location }}</strong>{% if not forloop.last %},{% endif %}{% endfor %}
   {% if doc.callnum %}at<br/>Call Number <strong>{{ doc.callnum }}</strong>{% endif %}.
  {% if doc.item_ids %}
  <dl> 
   <dt>{% trans "Availability" %} -</dt>
  {% for item_num in doc.item_ids %}
   {% if forloop.counter == 5 %}
   <dd><a href="#" onclick="DisplayItems(this)">More</a></dd>
   {% endif %}
   {% if forloop.counter > 4 %}
   <dd style="display:none">{% trans "Item" %} {{ forloop.counter }}: {{ item_num|get_item_status }}</dd>
   {% else %}
   <dd>{% trans "Item" %} {{ forloop.counter }}: {{ item_num|get_item_status }}</dd>
   {% endif %}
  {% endfor %}
  </dl>
  {% endif %}
 </div>
 <br/>
 <dl class="detail-display">
  {% if doc.author %}
  <dt>{% trans "Author/Creator" %}:</dt>
  {% for author in doc.author %}
   <dd><a href="{% new_limit "author" author %}">{{ author }}</a></dd>
  {% endfor %}
  {% endif %}
  {% if doc.url %}
  <dt>{% trans "Online Location" %}:</dt>
  {% for url in doc.url %}
   <dd><a href="{{ url }}">{{ url }}</a></dd>
  {% endfor %}
  {% endif %}
  {% if doc.language %}
  <dt>{% trans "Language" %}:</dt>
  {% for language in doc.language %}
  <dd>{{ language }}</dd>
  {% endfor %}
  {% endif %}
  {% if doc.imprint %}
  <dt>{% trans "Imprint" %}:</dt>
  <dd>{{ doc.imprint }}</dd>
  {% endif %}
  {% if doc.publisher %}
  <dt>{% trans "Publisher" %}:</dt>
  <dd>{{ doc.publisher }}</dd>
  {% endif %}
  {% if doc.pubyear %}
  <dt>{% trans "Year Published" %}:</dt>
  <dd>{{ doc.pubyear }}</dd>
  {% endif %}
  {% if doc.format %}
  <dt>{% trans "Format" %}:</td>
  <dd>{{ doc.format|get_format_icon }} {{ doc.format }}</dd>
  {% endif %}
  {% if doc.description %}
  {% for note in doc.description %}<dd>{{ note }}</dd>{% endfor %}
  {% endif %}
  {% if doc.genre %}
  <dt>{% trans "Genre(s)" %}:</dt>
  {% for genre in doc.genre %}
  <dd><a href="{% new_limit "genre" genre %}">{{ genre }}</a></dd>
  {% endfor %}
  {% endif %}
  {% if doc.era %}
  <dt>{% trans "Era" %}</dt>
  {% for era in doc.era %}
  <dd>{{ era }}</dd>
  {% endfor %}
  {% endif %}
  {% if doc.summary %}
  <dt>{% trans "Summary" %}:</dt>
  {% for summary in doc.summary %}
  <dd>{{ summary }}</dd>
  {% endfor %}
  {% endif %}
  {% if doc.credits_display %}
  <dt>{% trans "Credits" %}:</td>
  <dd>{{ doc.credits_display.0 }}</dd>
  {% endif %}
  {% if doc.cast_display %}
  <dt>{% trans "Performers/Cast" %}:</dt>
  <dd>{{ doc.cast_display.0 }}</dd>
  {% endif %}
  {% if doc.notes %}
  <dt>{% trans "Note(s)"  %}:</dt>
  {% for note in doc.notes %}
  <dd>{{ note }}</dd>
  {% endfor %}
  {% endif %}
  {% if doc.subject or doc.topic %}
  <dt>{% trans "Subjects" %}:</dt>
  {% for topic in doc|reduce_subjects %}
  <dd><a href="{% new_limit "topic" topic %}">{{ topic }}</a></dd>
  {% endfor %}
  {% endif %}
  {% if doc.full_lc_subject %}
  <dt>{% trans "LC Subject Headings" %}:</dt>
  {% for heading in doc.full_lc_subject %}
  <dd><a href="{% new_limit "full_lc_subject" heading %}">{{ heading }}</a></dd>
  {% endfor %}
  {% endif %}
  {% if doc.isbn %}
  <dt>{% trans "ISBN" %}{% if doc.isbn|length > 1 %}(s){% endif %}:</dt>
  {% for isbn in doc.isbn %}
   <dd>{{ isbn }}</dd>
  {% endfor %}
  {% endif %}
   <dt>{% trans "MARC Record format" %}:</dt>
   <dd><a href="#marc-display" id="marc_fancybox">View</a></dd>
 </dl>
{% endblock %}

{% block right-aside-one %}
<aside class="slideshow">
{% if doc.isbn %}
 {{ doc.isbn.0|get_google_book }}
{% endif %}
</aside>
{% endblock %}

{% block right-aside-two %}
<aside id="search-options">
<h2>Search Options</h2>
<ul>
{% if search_history %}
 <li>Return to your <a href="{{ last_search }}">{% trans "search results" %}</a></li>
 <li>Review your <a href="#search_dialog" id="search_display">search history</a>
 </li>
{% endif %}
 <li>Start a <a href="/">new search</a></li>
</ul>
</aside>
{% endblock %}



{% block right-aside-three %}
 <div id="item-info">
 <h2>Other Libraries</h2>
 <p>
  Search Prospector and WorldCat for the item.  
 </p>
  <p><a href="{{ doc.id|generate_prospector_url }}">
  <img src="http://www.coalliance.org/prospector/_images/prospector_man_smaller.png" style="width:60px;float:left;" />
  Colorado Alliance of Research Libraries Prospector</a>
  </p>
  <p><a href="http://www.worldcat.org/isbn/{{ doc.isbn.0 }}"><img src="http://www.worldcat.org/wcpa/rel20110913/images/logo_wcmasthead_en.png" alt="Worldcat" /></a></p>
 </div>
<br/>
{% endblock %}

{% block more-scripts %}
<script src="http://jqueryui.com/ui/jquery.ui.core.js"></script>
<script src="http://jqueryui.com/ui/jquery.ui.widget.js"></script> 
<script src="http://jqueryui.com/ui/jquery.ui.dialog.js"></script>
<script src="{{ STATIC_URL }}discovery/js/discovery.js"></script>
<script>
 $(function() {
   $("a#search_display").fancybox({
     title:"Search History"
    });
   $("a#cite_fancybox").fancybox();
   $("a#marc_fancybox").fancybox();
  {% comment %}
    $('#cart-dlg').dialog({ autoOpen: false,
                             buttons: {"Ok":function() { $(this).dialog("close"); }},
                                 width: 550,
                                position: 'center',
                               draggable: true,
                                 title: "Your selected items",});

    $('#citation-dlg').dialog({ autoOpen: false,
                                 buttons: {"Ok":function() { $(this).dialog("close"); }},
                                 width: 550,
                                position: 'center',
                               draggable: true,
                                 title: "Citation Styles for <em>{{ doc.title|truncatewords:5 }}</em>",});
    $("#marc-display").dialog({ autoOpen: false,
                                 buttons: {"Ok":function() { $(this).dialog("close"); }},
                                   width: 550,
                                position: 'center',
                                   title: "MARC View for <em>{{ doc.title|truncatewords:5 }}</em>",});
    $("#search-history").dialog({ autoOpen: false,
                                 buttons: {"Ok":function() { $(this).dialog("close"); }},
                                   width: 550,
                                position: 'center',
                                   title: "Your Search History",});
  {% endcomment %}

 });
</script>
{% endblock %}

{% block dialogs %}
<div style="display:none">
<div id="citation-dlg">
<h2>Citations</h2>
<ul>
 {% include 'apa_citation.html' %}
 {% include 'chicago_citation.html' %}
 {% include 'mla_citation.html' %}
</ul>
</div>
</div>

<div style="display:none">
<div id="marc-display">
<h2>MARC Record Display</h2>
{% include 'marc_display.html' %}
</div>
</div>

<div style="display:none">
{% include 'search_history_dialog.html' %}
</div>

<div style="display:none">
{% include 'cart_dialog.html' %}
</div>
{% endblock %}
