article.discovery-home {
 font-size: 1em;
 float: left;
 position: relative;
}

aside.discovery-home {
 background-color: rgb(127,127,127);
 float: left;
 margin-right: 15px;
 padding: 5px;
 position: relative;
 width: 30%;
}

aside.discovery-home p {
 color: #FDDB55 !important;
}



#contact-lib-detail {
  border: 1px solid #e7e4e0;
  background-color: #530921;
  margin-top: 15px;
  padding: 10px 15px;
}

div.bib-citation {
  text-indent: -20px !important; 
  padding-left: 15px !important;
}

div.discovery-service {
  background-color: #FFFFFF;
  padding-left: 2em;
  height: 60%;
 }

div.bootstrap-searchbox {
  background-color: #F1ECE5 !important;
  border: 5px solid #FFFFFF;
  margin-bottom: 16px;
  padding: 10px 15px;
}

div.facet-heading {
  background-color: #F1ECE5 !important;
}

div.facet-heading a {
  color: #3E332C;
  font-size: 1.2em;
  font-weight: 300;
}

div.facet-inner {
  background-color: #FFFFFF !important;
} 

div.facet-inner ul {
 margin-left: 0;
}

div.facet-inner li {
  list-style-type: none;
  font-size: 1.1em;
  margin: 0;
  padding-bottom: 5px;
}

div.facet-inner li a {
 border-bottom: 1px dotted #333333;
 color: #333333;
 text-decoration: none;
}

div.gbsLinkCover {
  text-align: center;
 }

div.ils-status {
  border: 1px solid black;
  font-size: 1.1em;
  padding: 5px;
}
 

dl.detail-display {
  margin: 0 1em 1em 0;
}

dl.detail-display dt {
  color: rgb(127,127,127); 
  float: left;
  min-width: 9.5em;
  text-align: right;
}

dl.detail-display dd {
 margin-left: 10em;
}

h1,h5 {
  font-weight: normal !important;
}

h1.discovery-home {
 color: #530921 !important;
 font-size: 1.1em !important;
 
}



#item-info {
 border: 1px solid #530921;
 font-size: .8em;
 margin-top: 15px;
}

#item-info h2 {
 background-color: #530921;
 color: rgb(255,255,255) !important;
 font-size: 1.9em;
 margin: 0px;
 text-align: center;
}

#item-info p {
 padding: 3px;
}

#item-info img {
 text-align: center;
}

#search-history {
 border: 1px solid #960;
 display: none;
}


#search-options {
 background: #FAFAF8 url('http://www.coloradocollege.edu/global/images/templates/bg/header.jpg');
 -webkit-box-shadow: 0 0 16px #444;
 -moz-box-shadow: 0 0 16px #444;
 -ms-box-shadow: 0 0 16px #444;
 -o-box-shadow: 0 0 16px #444;
}

#search-options h2 {
 color: #960 !important;
 font-family: NeoFill !important;
 font-size: 1.3em !important;
 margin-top: 5px;
 text-align: center;
}

#search-options ul {
 list-style-type: greek !important;
 margin-bottom: 2px;
 padding-bottom: 2px;
}

span.available {
  color: green;
  font-weight: bold;
}

span.due-back {
  color: red;
  font-weight: bold;
}

span.save_result {
  float: left;
  font-size: .5em;
  margin-left: -35px;
  text-align: center;
}

table.closed {
  display: none;
}

table.open {
  display: block;
}

table.search-tbl {
  background-color: #F1ECE5 !important;
  border-bottom: none;

}

table.search-tbl tr td {
  background-color: #F1ECE5 !important;
  border-bottom: none;
  margin-left: 1px;
  padding-left: 1px;
}

quote {
 background-color: #F1ECE5;
 border: 1px solid black;
 display: block;
 font-size: .9em;
 padding: 3px;
}

ul.search-options {
 float: right;
}

ul.search-options a {
 color: #950B24;
 font-weight: bold;
}

body.library {
background-color: #292C34 !important;
}

#library-tabs {
font-size: 14px !important;
line-height: 21px !important;
}

#library-tabs ul {
margin-top: 14px !important;
margin-bottom: 14px !important;
margin-left: -42px !important;
padding-top: 21px !important;
padding-left: 40px !important;
line-height: 24px;
height: 0 !important;
}

#library-tabs ul li {
line-height: 24px !important;
height: 36px !important;
}

#footer {
font-family: Georgia,"Times New Roman",serif !important;
}

p.address {
font-family: Georgia,"Times New Roman",serif !important;
height: 63px !important;
margin-bottom: 14px !important;
}
