
article.discovery-home {
 font-size: 1em;
 float: left;
 position: relative;
}

aside.discovery-home {
 background-color: rgb(127,127,127);
 float: left;
 margin-right: 15px;
 padding: 5px;
 position: relative;
 width: 30%;
}

aside.discovery-home p {
 color: #FDDB55 !important;
}



#contact-lib-detail {
  border: 1px solid #e7e4e0;
  background-color: #530921;
  margin-top: 15px;
  padding: 10px 15px;
}

div.bib-citation {
  text-indent: -20px !important; 
  padding-left: 15px !important;
}

div.discovery-service {
  background-color: #FFFFFF;
  padding-left: 2em;
  height: 60%;
 }

div.bootstrap-searchbox {
  background-color: #F1ECE5 !important;
  border: 5px solid #FFFFFF;
  padding-left: 10px;
  padding-top:  15px;
}

div.facet-heading {
  background-color: #CDCAB4 !important;
}

div.facet-heading a {
  color: #3E332C;
  font-size: 1.2em;
  font-weight: 300;
}

div.facet-heading a:hover {
  color: #FFFFFF;
  background-color: #2D4873;
}

div.facet-inner {
  background-color: #FFFFFF !important;
} 

div.facet-inner ul {
 margin-left: 0;
}

div.facet-inner li {
  list-style-type: none;
  font-size: 1.1em;
  margin: 0;
  padding-bottom: 5px;
}

div.facet-inner li a {
 border-bottom: 1px dotted #333333;
 color: #333333;
 text-decoration: none;
}

div.records-cart {
 margin-top: .5em;
}


div.results-block {
 background-color: #FFFFFF;
 font-family: "Helvetica Neue",Arial,sans-serif;
 font-size: 1.1em;
}

div.results-block a {
  color: #660000;
  font-weight: bold;
}

div.results-block h1 {
  color: #594738;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.5em;
}

div.results-block h2 {
  color: #29456C;
  margin-top: 0em;
  margin-bottom: 0.5em;
}

div.results-block h2 a {
  color: #264D85 !important;
  font-size: .9em;
  font-weight: normal !important;
  vertical-align: -1px;
}

div.results-block li {
  color: #264D85;
  font-size: 1.4em;
  margin-left: 1em;
} 

div.results-block p {
 font-family: "Helvetica Neue",Arial,sans-serif;
 margin: 0.5em;
}

div.gbsLinkCover {
  text-align: center;
 }

div.ils-status {
  border: 1px solid black;
  font-size: 1.1em;
  padding: 5px;
}
 

dl.detail-display {
  margin: 0 1em 1em 0;
}

dl.detail-display dt {
  color: rgb(127,127,127); 
  float: left;
  min-width: 9.5em;
  text-align: right;
}

dl.detail-display dd {
 margin-left: 10em;
}

h1,h5 {
  font-weight: normal !important;
}

h1.discovery-home {
 color: #530921 !important;
 font-size: 1.1em !important;
 
}



#item-info {
 border: 1px solid #530921;
 font-size: .8em;
 margin-top: 15px;
}

#item-info h2 {
 background-color: #530921;
 color: rgb(255,255,255) !important;
 font-size: 1.9em;
 margin: 0px;
 text-align: center;
}

#item-info p {
 padding: 3px;
}

#item-info img {
 text-align: center;
}

#search-history {
 border: 1px solid #960;
 display: none;
}


#search-options {
 background: #FAFAF8 url('http://www.coloradocollege.edu/global/images/templates/bg/header.jpg');
 -webkit-box-shadow: 0 0 16px #444;
 -moz-box-shadow: 0 0 16px #444;
 -ms-box-shadow: 0 0 16px #444;
 -o-box-shadow: 0 0 16px #444;
}

#search-options h2 {
 color: #960 !important;
 font-family: NeoFill !important;
 font-size: 1.3em !important;
 margin-top: 5px;
 text-align: center;
}

#search-options ul {
 list-style-type: greek !important;
 margin-bottom: 2px;
 padding-bottom: 2px;
}

span.available {
  color: green;
  font-weight: bold;
}

span.due-back {
  color: red;
  font-weight: bold;
}

span.save_result {
  float: left;
  font-size: .5em;
  margin-left: -35px;
  text-align: center;
}

table.closed {
  display: none;
}

table.open {
  display: block;
}

table.list-record {
  border: none;
}

.list-record {
  background-color: #FFFFFF;
  border: none;
  font-size: .9em;
  padding: .25em;
}

table.search-tbl {
  background-color: #F1ECE5 !important;
  border-bottom: none;

}

table.search-tbl tr td {
  background-color: #F1ECE5 !important;
  border-bottom: none;
  margin-left: 1px;
  padding-left: 1px;
}

quote {
 background-color: #F1ECE5;
 border: 1px solid black;
 display: block;
 font-size: .9em;
 padding: 3px;
}


ul.records-cart a {
  color: #333333;
  font-size: .7em;
  font-weight: normal;
  padding-left: 0px;
  padding-right: 5px;

}

ul.records-cart a:hover {
  color: #333333;
  font-size: .7em;
  margin-left: 0px;
  padding: none;
}

ul.search-filters {
 list-style: none outside none;
 margin: 0;
 padding: 0;
}

ul.search-filters li {
  background-color: #FBF9F7;
  color: #2B486F;
  display: inline;
  float: left;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-right: 0.6em;
  padding: 0.5em;
}

ul.search-filters a {
  font-color: #FF0000;
  margin-left: 0.5em;
}

ul.search-options {
 float: right;
}

ul.search-options a {
 color: #950B24;
 font-weight: bold;
}

body.library {
background-color: #292C34 !important;
}

#library-tabs {
font-size: 14px !important;
line-height: 21px !important;
}

#library-tabs ul {
margin-top: 14px !important;
margin-bottom: 14px !important;
margin-left: -42px !important;
padding-top: 21px !important;
padding-left: 40px !important;
line-height: 24px;
height: 0 !important;
}

#library-tabs ul li {
line-height: 24px !important;
height: 36px !important;
}

#footer {
font-family: Georgia,"Times New Roman",serif !important;
}

p.address {
font-family: Georgia,"Times New Roman",serif !important;
height: 63px !important;
margin-bottom: 14px !important;
}
