{% load discovery_extras %}
 <div class="modal-header">
 <button type="button" class="close" data-dismiss="modal">x</button>
  <h2>All Items for <em>{{ doc.full_title }}</em></h2>
 </div>
 <div class="modal-body">
  <table class="table-bordered table-striped table-condensed">
   <thead>
    <tr>
      <th>Item</th>
      <th>Status</th>
      <th>Location</th>
      <th>Call Number</th>
    </tr>
   </thead>
   <tbody>
   {% for item_id in doc.item_ids %}
    <tr>
      <td>{{ forloop.counter }}</td>
      {{ item_id|get_item_tds }}
    </tr>
   {% endfor %}
   </tbody>
  </table>
 </div>
 <div class="modal-footer">
  <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
 </div>
