{% load discovery_extras %}
<form class="form-search" data-bind="submit: searchCatalog">
      <img src="{{ STATIC_URL }}img/bg/library/mag-glass.png" style="float:left"/>
      <select data-bind="click: searchRouting,
                         options: searchingOptions,
                         optionsText: 'name',
                         value: chosenSearch" style="width:100px">
      </select>
      <select data-bind="options: numberOptions,
                         optionsText: 'name',
                         visible: shouldShowNumber" >
      </select>
      <input 
             data-bind="value: searchQuery"
             name="q" 
             type="text" 
             style="width:270px;padding-top:5px;" 
             class="input-medium" 
             placeholder="Search TIGER" 
             value="{{ request.REQUEST.q }}"></input>
      <input type="submit" class="btn btn-primary" value="Go"></input>
      <label class="checkbox" style="float:left;padding-top:5px;padding-right:5px;">
        <input type="checkbox" data-bind="checked: exactSearch"> Exact Search</input>

                                                </label>
</form>
