{% extends "legacy.html" %}

{% block title %}Databases By Title &laquo; Colorado College Tutt Library{% endblock %}

{% block title_listing %}
<div id="content">
<h2>Databases By Title</h2>
<p style="text-align: center">
 See also: <a href="/grx/subjects/All%20Subjects">Databases for all subjects</a>
 or <a href="/grx/subjects">Databases by subject</a> (Art, Biology, Economics, etc.)
</p>
<p style="text-align: center">
 <ul class="alphalist">
  <li><a title="Databases beginning with the letter A" href="/grx/titles/a">A</a></li>
  <li><a title="Databases beginning with the letter B" href="/grx/titles/b">B</a></li>
  <li><a title="Databases beginning with the letter C" href="/grx/titles/c">C</a></li>
  <li><a title="Databases beginning with the letter D" href="/grx/titles/d">D</a></li>
  <li><a title="Databases beginning with the letter E" href="/grx/titles/e">E</a></li>
  <li><a title="Databases beginning with the letter F" href="/grx/titles/f">F</a></li>
  <li><a title="Databases beginning with the letter G" href="/grx/titles/g">G</a></li>
  <li><a title="Databases beginning with the letter H" href="/grx/titles/h">H</a></li>
  <li><a title="Databases beginning with the letter I" href="/grx/titles/i">I</a></li>
  <li><a title="Databases beginning with the letter J" href="/grx/titles/j">J</a></li>
  <li><a title="Databases beginning with the letter K" href="/grx/titles/k">K</a></li>
  <li><a title="Databases beginning with the letter L" href="/grx/titles/l">L</a></li>
  <li><a title="Databases beginning with the letter M" href="/grx/titles/m">M</a></li>
  <li><a title="Databases beginning with the letter N" href="/grx/titles/n">N</a></li>
  <li><a title="Databases beginning with the letter O" href="/grx/titles/o">O</a></li>
  <li><a title="Databases beginning with the letter P" href="/grx/titles/p">P</a></li>
  <li><a title="Databases beginning with the letter R" href="/grx/titles/r">R</a></li>
  <li><a title="Databases beginning with the letter S" href="/grx/titles/s">S</a></li>
  <li><a title="Databases beginning with the letter T" href="/grx/titles/t">T</a></li>
  <li><a title="Databases beginning with the letter U" href="/grx/titles/u">U</a></li>
  <li><a title="Databases beginning with the letter V" href="/grx/titles/v">V</a></li>
  <li><a title="Databases beginning with the letter W" href="/grx/titles/w">W</a></li>
 </ul>
</p>
<p style="text-align: center">
 When TIGER is down, the below links will not function. 
 Try these <a href="#" onclick="alert('needs link')">direct database links</a> instead.
</p>
<p style="text-align: center">
 <a href="#" onclick="alert('needs link')">Terms &amp; Conditions of Use</a>
</p>
{% endblock %}

{% block content %}
{% endblock %}
