{% extends 'cc-search-base.html' %}

{% block search-title %}Tutt Library Discovery Services 404 Page Not Found • Colorado College{% endblock %}

{% block more-css %}
{% endblock %}

{% block search-panel %}
{% endblock %}

{% block search-facets %}
{% endblock %}

{% block results-detail %}
{% endblock %}

{% block results-list %}
<div class="main">
<div class="results-list discovery-service">
<h1>Sorry! 404 Error</h1>
<div class="discovery-home">
 <h2 class="discovery-home">Please contact the library if you continue to have problems</h2>
<p> We couldn't find this resource 
 </p>
 <span class="clear"></span>
</div>
</div>
</div>
<span class="clear"></span>
{% endblock %}

{% block more-scripts %}
{% endblock more-scripts %}
