{% extends 'cc-inside-base-twocol.html' %}

{% block head-title %}Internal Utilities for Tutt Library, Colorado College {% endblock %}
{% block more-css %}
{% endblock %}

{% block library-breadcrumb %}
 <div id="breadcrumb">
  <div class="stage"><a href="http://www.coloradocollege.edu/library">Library Home</a>&nbsp;&raquo;&nbsp;<a href="http://tuttlibsys/">Internal</a>
   </div>
 </div>
{% endblock %}

{% block subnavigation %}
<h1><strong><a href="#">About</a></strong></h1>
<p>
 These utilities are used for internal uses by various
 units at the Tutt Library.
</p>
<ul>
{% for activity in activity_log %}
<li>{{ activity.activity_date }} {{ activity.description }}</li> 
{% endfor %}
</ul>
{% endblock %}

{% block left-aside-two %}
<aside class="aside">
<div id="contact-lib-detail" style="background-color: #2D4873">
 {% include 'contact-library.html' %}
</div>
</aside>
{% endblock %}

{% block main-content %}
 <h1>Colorado College Tutt Library Internal Utilities</h1>
 <p>
  The Tutt Library has a number of internally developed or migrated
  <a href="http://www.djangoproject.com">Django</a> applications all running
  under the <a href="https://github.com/jermnelson/Discover-Aristotle">Aristotle</a>
  framework.
 </p>
 <ul>
  <li><a href="/repository">DACC Utilities</a></li>
  <li><a href="/vendors/iii/">III Utilities</a></li>
  <li><a href="/marc">MARC Record Utilities</a></li>
 </ul>
{% endblock %}

{% block right-aside-one %}
{% endblock %}

{% block right-aside-two %}
{% endblock %}

{% block right-aside-three %}
{% endblock %}


{% block more-scripts %}
<script>
</script>
{% endblock %}

{% block dialogs %}
{% endblock %}
