{% extends 'cc-search-base.html' %}

{% block search-title %}Tutt Library Goldrush Discovery Services • Colorado College{% endblock %}

{% block more-css %}
 <link href="{{ STATIC_URL }}grx/css/grx.css" rel="stylesheet" /> 
{% endblock %}

{% block search-panel %}
  {% include "grx-search-panel.html" %}
{% endblock %}

{% block search-facets %}
<div class="side">
 <aside class="search-facets">
  {% if grx_search_results %}


  {% else %}
  <h5>Popular</h5>
  <ul>
   <li><a href="#">Academic Search Complete</a></li>
   <li><a href="#">JSTOR</a></li>
   <li><a href="#">LexisNexis</a></li>
   <li><a href="#">ScienceDirect</a></li>
  </ul>
  <h5>Titles</h5>
  <div class="grx-title-list">
   {% for letter in a_to_m %}
    <a href="/grx/titles/{{ letter|upper }}" class="grx-facet-letter">{{ letter|upper }}</a>
   {% endfor %}
   <br/>
   {% for letter in n_to_z %}
    <a href="/grx/titles/{{ letter|upper }}" class="grx-facet-letter">{{ letter|upper }}</a>
   {% endfor %}
  </div>

  <h5>Subjects</h5>
  <ul>
  {% for subject in subjects %}
  <li><a href="/grx/subject/{{ subject.name }}">{{ subject.name }}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
 </aside>
</div>
{% endblock %}

{% block results-detail %}
{% endblock %}

{% block results-list %}
<div class="main">
{% if grx_results %}
{% include 'grx-results-list.html' %}
{% endif %}
{% if grx_search_results %}
{% include 'grx-jrnl-results-list.html' %}
{% endif %}
{% if not grx_results and not grx_search_results %}
<div class="results-list discovery-service">
<h1>Tutt Library's Databases Gold Rush Services</h1>
<div class="discovery-home">
 <h2 class="discovery-home">Popular Resources</h2>
 </p>
 <span class="clear"></span>
</div>
</div>
{% endif %}
</div>
<span class="clear"></span>
{% endblock %}

{% block more-scripts %}
<script src="{{ STATIC_URL }}grx/js/grx.js"></script>
<script>
 var search_hints = new Array();
 {% for type_of in search_types %}
   search_hints['{{ type_of.grx_action }}'] = '{{ type_of.hint }}';
 {% endfor %}
</script>
{% endblock more-scripts %}
