{% load i18n %}
{% load marc_extras %}
 <h2 class="discovery-home">Fedora Object Mover</h2>
 <form action="/repository/mover" method="POST">
 {% csrf_token %}
 <table>
  {% if mover_form.errors %}
  <tr>
   <td>{{ mover_form.source_pid.errors }}</td>
   <td>{{ mover_form.collection_pid.errors }}</td>
  </tr>
  {% endif %}
  <tr>
   <th>{{ mover_form.source_pid.label }}</th>
   <th>{{ mover_form.collection_pid.label }}</th>
  </tr>
  <tr>
   <td>{{ mover_form.source_pid }}</td>
   <td>{{ mover_form.collection_pid }}</td>
  </tr>
 <tr>
  <td colspan="2" align="center">
  <input type="submit" value="Move PID to new Collection" />
  </td>
  </tr>
 </table>
 </form>
